body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.month-box {
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f3f3f3;
    color: #333;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.month-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.8;
}

.month-box span,
.month-box strong,
.month-box em {
    position: relative;
    z-index: 2;
}

.month-box .album-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px;
    font-size: 0.9em;
    text-align: center;
}

#content{
    min-width: 1765px;
}
.content-box{
    display: flex;
    justify-content: center;
    transform: scale(0.6);
}